    <div class='author'>
      <div class='col-xs-2 col-md-2'>
        <div class='div-img'>
          <!-- 수정부 -->
          <img src='https://avatars1.githubusercontent.com/u/14069553?v=3&s=140' alt='koreamic'>
          <!-- 수정부 1 끝 -->
        </div>
      </div>
      <div class='col-xs-9 col-md-9'>
        <div class='author-info'>
          <!-- 수정부 2 -->
          <div class='author-name'>Korea-miC</div>
          <div class='author-desc'>대한민국 대표 쩌리 개발자입니다.</div>
          <!-- 수정부 2 끝 -->
        </div>
      </div>
    </div>
