  <div class='author'>
    <div class='col-xs-2 col-md-2'>
      <div class='div-img'>  
        <img src='https://www.google.co.kr/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiktLnM6rrJAhXFUZQKHStmA6UQjRwIBw&url=http%3A%2F%2Fm.blog.daum.net%2Fchungsuk0303%2F251&bvm=bv.108194040,d.dGo&psig=AFQjCNGhxEj90Q4jPIGyeudTVjI7ShBETw&ust=1449065102991511'>
      </div>
    </div>
    <div class='col-xs-9 col-md-9'>
      <div class='author-info'>
        <div class='author-name'>noname</div>
        <div class='author-desc'>만년 초보 개발자
        </div>
      </div>
    </div>
  </div>
